{% extends 'base.html'%}
{% load bootstrap3 %}
{% load i18n %}

{% block base %}
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">

                <div class="nav">
                    <div class="sb-sidenav-menu-heading">{% trans "Main" %}</div>
                    <a class="nav-link" href="/">
                        <!--<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div> fa-spin-->
                        <div class="sb-nav-link-icon"><i class="fas fa-bars "></i></div>
                    {% trans "Dashboard" %}</a>
                    <a class="nav-link" href="/livelog">
                        <!--<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div><i class="ml-3 fas fa-exclamation-triangle"></i>-->
                        <div class="sb-nav-link-icon"><i class="fas fa-circle-notch fa-spin "></i></div>
                    {% trans "Live log" %}</a>

                    <div class="sb-sidenav-menu-heading">{% trans "User" %}</div>
                    <a class="nav-link" href="/accounts">
                        <!--<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>-->
                        <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                    {% trans "My account" %}</a>


                    <div class="sb-sidenav-menu-heading">{% trans "Configuration" %}</div>
                    <a class="nav-link" href="/settings">
                        <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                    {% trans "Settings" %}</a>

                    <div class="sb-sidenav-menu-heading">{% trans "Configuration" %}</div>
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">

                        <div class="row">
                            <div class="col">
                              <select class="selectpicker" id="languageSelector" name="language" data-live-search="true" > 
                                {% get_current_language as LANGUAGE_CODE %} {% get_available_languages as LANGUAGES %} {% get_language_info_list for LANGUAGES as languages %}

                                {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                selected{% endif %}> {{ language.name_local }} ({{ language.code }})
                                </option>
                                {% endfor %}

                                </select>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fas fa-angle-right"></i>
                                </button>
                            </div>
                        </div>



            </form>



        </div>
    </div>
</nav>
</div>

{% block content %}

{% endblock %}

</div>
{% endblock %}
