{% extends 'basewithbar.html'%}
{% load i18n %}
{% load l10n %}

{% block title %}
<title>Index</title>
{% endblock%}

{% block content %}

<div id="layoutSidenav_content">
	<div class="panel with-nav-tabs panel-default">
		<div class="panel-heading">
			<div class="nav-scroller bg-white shadow-sm">
				<nav class="nav nav-underline justify-content-center">
					<a class="nav-link active" href="#tab1default" data-toggle="tab">{% trans 'Overall' %}</a>
					<a class="nav-link" href="#tab2default" data-toggle="tab">{% trans "Countries" %}<span class="badge badge-pill bg-light align-text-bottom">27</span> </a>
					<a class="nav-link" href="#tab3default" data-toggle="tab">{% trans "Evolution" %}</a>
					<a class="nav-link" href="#tab4default" data-toggle="tab">{% trans "Social Media" %}</a>
					<a class="nav-link" href="#tab5default" data-toggle="tab">{% trans "Recommendations" %}</a>
					<a class="nav-link" href="#tab6default" data-toggle="tab">{% trans "Economy" %}</a>
				</nav>
			</div>
		</div>
		<div class="panel-body">
			<div class="tab-content">
				<!--TAB 1-->
				<div class="tab-pane fade show active" id="tab1default">					
					<div class="container-fluid">
						<div class="row mt-4">
							<div class="card mb-4">
								<div class="card-header"><i class="fas fa-chart-bar mr-1"></i>{% trans "HEAT MAP OF CONFIRMED CASES" %}</div>
								<div id="map"></div>
								<svg id="my_dataviz" width="1150" height="400"></svg>
							</div>
						</div>

						<div class="row mt-4">	
							<div class="col-xl-6">
								<div class="card mb-4">
									<div class="card-header"><i class="fas fa-chart-bar mr-1"></i>{% trans "CONFIRMED CASES THROUGH TIME" %}</div>
									<div id="my_data"></div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="card mb-4">
									<div class="card-header"><i class="fas fa-chart-bar mr-1"></i>
										<button onclick="update('Deaths')">{% trans "DEATH NUMBER" %}</button>
										<button onclick="update('Confirmed')">{% trans "CONFIRMED CASES" %}</button>
									</div>

									<div id="my_data2"></div>
								</div>
							</div>
						</div>
						<div class="row mt-4">	
							<div class="col-xl-6">
								<div class="card mb-4">
									<div class="card mb-4" width="460" height="400">
										<div class="card-header"><i class="fas fa-chart-bar mr-1"></i>{% trans "NEW CONFIRMED CASES" %}</div>
										<div id="my_data3"></div>
									</div>
								</div>
							</div>
							<div class="col-xl-6">
								<div class="card mb-4">
									<div class="card-header">
										<i class="fas fa-chart-bar mr-1"></i>
										<button onclick="update2('Spain')">SPAIN</button>
										<button onclick="update2('France')">FRANCE</button>
										<button onclick="update2('US')">USA</button>
										<button onclick="update2('Italy')">ITALY</button>
										<button onclick="update2('United Kingdom')">UK</button>
										<button onclick="update2('China')">CHINA</button>
									</div>
									<div id="my_data4"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--FINAL TAB 1-->

				<div class="tab-pane fade" id="tab2default">
					
				</div>
				<div class="tab-pane fade" id="tab3default">Default 3</div>
				<div class="tab-pane fade" id="tab4default">
					
					<div class="row mt-4">	
						<div class="col-xl-6">
						<a class="twitter-timeline"  href="https://twitter.com/CoronavirusESP?ref_src=twsrc%5Etfw">Tweets by CoronavirusESP</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>
						<div class="col-xl-6">
						<a class="twitter-timeline" href="https://twitter.com/Covid_19Time?ref_src=twsrc%5Etfw">Tweets by Covid_19Time</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>	
						</div>
					</div>
						
				</div>
					<div class="tab-pane fade" id="tab5default">
					{% include 'recommendations.html' %}
				</div>
				
				<div class="tab-pane fade" id="tab6default">
					<div class="container-fluid">
						<br>
						<br>
						<!-- TradingView Widget BEGIN -->
						<div class="tradingview-widget-container">
							<div id="tradingview_69f15"></div>
							<div class="tradingview-widget-copyright"><a rel="noopener" target="_blank"><span class="blue-text">Dynamic Chart</span></a> by TradingView</div>
							<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
							<script type="text/javascript">
								new TradingView.widget(
								{
									"width": 980,
									"height": 610,
									"symbol": "NASDAQ:AAPL",
									"interval": "D",
									"timezone": "Etc/UTC",
									"theme": "light",
									"style": "7",
									"locale": "en",
									"toolbar_bg": "#f1f3f6",
									"enable_publishing": false,
									"withdateranges": true,
									"allow_symbol_change": true,
									"details": true,
									"container_id": "tradingview_69f15"
								}
								);
							</script>
						</div>
						<!-- TradingView Widget END -->
					</div>		
				</div>
			</div>
		</div>
	</div>

	<main>



	</main>
	<footer class="py-4 bg-light mt-auto">
		<div class="container-fluid">
			<div class="d-flex align-items-center justify-content-between small">
				<div class="text-muted">Copyright &copy; BSPQ20-E3 2020</div>
			</div>
		</div>
	</footer>
</div>
{% endblock%}