{% extends 'basewithbar.html'%}
{% load static %}
{% load i18n %}

{% block title %}
<title>Live log</title>
{% endblock%}

{% block css %}
<link href="{% static 'css/login.css' %}" rel="stylesheet" />
{% endblock%}

{% block content %}
<div id="layoutSidenav_content">

	<div class="panel with-nav-tabs panel-default">
		<div class="panel-heading">
			<div class="nav-scroller bg-white shadow-sm">
				<nav class="nav nav-underline justify-content-center">
					<a class="nav-link active" href="#tab1default" data-toggle="tab">{% trans "Login" %}</a>
					<a class="nav-link" href="#tab2default" data-toggle="tab">{% trans "Register" %}</a>
				</nav>
			</div>
		</div>
		<div class="panel-body">
			<div class="tab-content">
				<!--TAB 1-->
				<div class="tab-pane fade show active" id="tab1default">

					<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
						<div class="card card-signin my-5">
							<div class="card-body">
								<h5 class="card-title text-center">{% trans "Sign in" %}</h5>
								<form class="form-signin">
									<div class="form-label-group">
										<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
										<label for="inputEmail">{% trans "Email address" %}</label>
									</div>

									<div class="form-label-group">
										<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
										<label for="inputPassword">{% trans "Password" %}</label>
									</div>

									<div class="custom-control custom-checkbox mb-3">
										<input type="checkbox" class="custom-control-input" id="customCheck1">
										<label class="custom-control-label" for="customCheck1">{% trans "Remember password" %}</label>
									</div>
									<button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{% trans "Sign in" %}</button>
									<a class="d-block text-center mt-2 small" href="#tab2default">{% trans "Sign up" %}</a>

									<hr class="my-4">
									<button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i>{% trans "Sign in with" %} Google</button>
									<button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> {% trans "Sign in with" %} Facebook</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--FINAL TAB 1-->

				<div class="tab-pane fade" id="tab2default">
					<div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
                <label for="inputUserame">Username</label>
              </div>

              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                <label for="inputEmail">Email address</label>
              </div>
              
              <hr>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>
              
              <div class="form-label-group">
                <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
                <label for="inputConfirmPassword">Confirm password</label>
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
              <a class="d-block text-center mt-2 small" href="#tab1default">Sign In</a>
              <hr class="my-4">
              <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>
            </form>
          </div>
        </div>
      </div>

				</div>
			</div>
		</div>
	</div>
	<main>
		

		
	</main>
	<footer class="py-4 bg-light mt-auto">
		<div class="container-fluid">
			<div class="d-flex align-items-center justify-content-between small">
				<div class="text-muted">Copyright &copy; BSPQ20-E3 2020</div>
			</div>
		</div>
	</footer>
</div>
{% endblock%}